html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 30em 30em 1fr;
    grid-template-areas: " . list monsters . ";
    align-items: flex-start;
}

.title {
    text-align:center;
}

.list {
    grid-area: list;
    margin-top: 3em;
}

.list .card-body {
    padding: 0;
}

.list form {
    padding: 1em;
}

.card-body p {
    width: 90%;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #D8D8D8;
    border-radius: 0.25rem;
}

.card-body .input-group {
    width: 90%;
    margin: 0 auto;
}

.card-body .input-group label {
    height: 100%;
    flex-grow: 1;
    max-width: 85%;
    margin: 0;
    padding: 0.5em;
    border: 1px solid #D8D8D8;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.completed-header {
    margin-left: 1.25em;
    margin-bottom: 1em;
}

.complete-task label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.monsters {
    height: 100%;
    grid-area: monsters;
}

.monster {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.repeatGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    font-size: 20px;
}

#exp {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}